*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #101242;
    height: 100vh;
}

.interface{
     max-width: 1280px;
     margin: 0 auto;
}

/*header*/

header{
    background-color: #74D346;
}

header{
    padding: 40px 4%;
}

header > .interface{
display: flex;
align-items: center;
justify-content: space-between;
}

header a{
    color: #00000075;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    transition: 0.5s;
}

header a:hover{
    transform: scale(1.05);
    color: black;
}

header nav ul{
    list-style: none;
}
header .ini{
margin-right: 190px;
}
header nav ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 0 20px;
}

header ul {
display: inline-block;
list-style: none;
}

header .cads button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: #74D346;
    cursor: pointer;
    margin-left: 40px;
    border: 0;
    border-radius: 30px;
    display: inline-block;
    transition: 0.5s;
}

header .cads button:hover{
transform: scale(1.05);
}


header .entrar{
margin-left: 140px;
}

/* main */

.slide{
    background-color: #fff;
    width: 80%;
    margin: 0 auto ;
    margin-top: 40px;
    height: 500px;
    border-radius: 10px;
}

form{
    max-width: 80%;
    margin: 0 auto;
}

form input{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    outline: 0;
    padding: 10px 7px;
}

.dias{
    display: flex;
    justify-content: center;
}
.bloco{
    background-color: rgb(4, 0, 51);
    color: #74D346;
    border-color: #74D346;
    width: 79.5px;
    border-radius: 5px;
    margin: 10px 10.5px;
    height: 30px;
    font-size: 15px;
}

.bloco:hover{
    background-color: #74D346;
    color: rgb(4, 0, 51) ;
}

.informacoes{
width: 80%;
margin: 20px auto;
background-color: #fff;
height: 700px;
border-radius: 10px;
text-align: center;
}


/* footer */

.footer {
    background-color: #74D346;
    
    padding: 20px;
    text-align: center;
}
.footer a {
    color: #00000075;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    display: inline-block;
    transition: 0.5s;
}
.footer a:hover{
    color: black;
    scale: 110%;
}
.footer .social-icons a {
    margin: 0 10px;
}
.footer .social-icons img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
/* modals */

/* modals */